body
{
    background-color: rgba(2, 0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: url(../img/downloa.jpg);
    background-size: cover;*/
}
div
{
 background-color: black;
 color: rgb(8, 242, 250);
 padding: 30px;
 position: relative;
 border-radius: 10px;
 text-align:center;
 font-size: 30px;
}
.mathias a 
{
    text-decoration: none;
    color: rgb(255, 0, 0);

}
.mathias a:hover
{
    color: rgb(21, 255, 0);
}
p
{
    text-align: right;
    position: relative;
    top: 50px;
}
.foda
{
    background-color: rgb(255, 255, 255);
    color: rgb(2, 1, 0);
    position:absolute;
    top: 400px;


}