body
{
    background-color: rgba(247, 12, 12, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
div
{
 background-color: black;
 color: rgb(250, 8, 8);
 padding: 30px;
 position: relative;
 border-radius: 10px;
 text-align:center;
 font-size: 30px;
}
.mathias a 
{
    text-decoration: none;
    color: red;

}
.mathias a:hover
{
    color: rgb(21, 255, 0);
}
p
{
    text-align: right;
    position: relative;
    top: 50px;
    
    
}
.jonhnn
{
  background-color: rgb(255, 255, 255);
  align-self: center;

}
.bah
{
    text-align: left;
}
.igreja
{
    background-color: white;
    color: black;
}
.renato
{
    background-color: rgb(199, 166, 206);
    top: 50px;
}

#renatao {
    position: relative;
    left: -250px;
    
}
.haha
{
    margin: 10px  ;
    background-color: antiquewhite;
}